<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xonvi.washing2">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>



    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".aty.ActivityIndex">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".aty.ActivityLogin" android:launchMode="singleTask"></activity>
        <activity android:name=".aty.ActivityReg"></activity>
        <activity android:name=".aty.ActivityThings" android:launchMode="singleTask"></activity>
        <activity android:name=".aty.ActivityMkOrder"></activity>
        <activity android:name=".aty.ActivityAddress"></activity>
        <activity android:name=".aty.ActivityEditAddr"></activity>
        <activity android:name=".aty.ActivityNewAddr"></activity>
        <activity android:name=".aty.ActivityGuide"></activity>
        <activity android:name=".aty.ActivitySecurity"></activity>
        <activity android:name=".aty.ActivityComment"></activity>
        <activity android:name=".aty.ActivityCmtList"></activity>
        <activity android:name=".aty.ActivityShop"></activity>
        <activity android:name=".aty.ActivityCharge"></activity>
        <activity android:name=".aty.ActivityFeedback"></activity>
        <activity android:name=".aty.ActivitySkill"></activity>
        <activity android:name=".aty.ActivityAbout"></activity>
        <activity android:name=".aty.ActivityIntroduce"></activity>
        <activity android:name=".aty.ActivityPrice"></activity>
        <activity android:name=".aty.ActivityEditPwd"></activity>
        <activity android:name=".aty.ActivityUpdateAddr"></activity>
        <activity android:name=".aty.userinfo.ActivityUserInfo"></activity>
        <activity android:name=".aty.ActivityDiscount"></activity>
        <activity android:name=".aty.ActivityScoreHistory"></activity>

        <receiver android:enabled="true" android:name=".receiver.BootReceiver" android:permission="android.permission.RECEIVE_BOOT_COMPLETED">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </receiver>
    </application>

</manifest>